@import './variables';
@import './mixins';
@import "~bootstrap/scss/bootstrap.scss";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700');


body {
    font-family: 'Catamaran', sans-serif; 

    .ui-widget {
        font-family: 'Catamaran', sans-serif; 
    }
    .ui-state-active, .ui-state-highlight {
        background:#3399ff;
        
    }
}


.ui-table {

    .ui-table-thead>tr>th, .ui-table-tbody>tr>td, .ui-table-tfoot>tr>td {
        padding: .5em;
    }

    .ui-table-tbody > tr:nth-child(even) {
        background:#f2f2f2;
    }

    .ui-table-thead {
        background:#e0e0e0;
        th {
            border-right:1px solid transparent;
        }
    }
    .ui-table-thead:hover {
        th {
            border-right:1px solid #c0c0c0;
        }
    }

    .ui-paginator-bottom {
        display:inline-block;
        border:1px solid #f2f2f2;
        border-radius: .25rem;
        margin:10px 0;
        right:0;
        position: absolute;

        .ui-paginator-pages .ui-paginator-page {
            color:#3399ff;
        }

        .ui-paginator-element {
            margin:0;
            color:#3399ff;
        }
        .ui-paginator-element.ui-state-disabled {
            color:grey;
        }
    }
    .ui-table-summary {
        display: inline-block;
        border:none;
        margin-top:10px;
    }
}



.ui-table .ui-table-tbody > tr.ui-state-highlight {
    background:#3399ff;
}

p-multiselect {
    
    .ui-state-default.ui-multiselect:not(.ui-state-disabled) {
        border-color: #3399ff;  
        background: none;
        color:#3399ff;
        border-radius: .25rem;
        padding: 0.25rem 1.25rem 0.25rem 0.5rem;
        margin-top:3px;
        transition: .15s;
        font-size:0.875rem;


        .ui-multiselect-item {
            color:#000000;
        }
        .ui-multiselect-item.ui-state-highlight {
            color:#ffffff;
            background:#3399ff;

            .ui-chkbox {
                border: 1px solid #0275d8;
                background-color: #0275d8;
                border-radius: .1rem;
            }
        }
    } 
    
    .ui-state-default.ui-multiselect:not(.ui-state-disabled):hover {
        background: #3399ff;
        border-color: #0d86ff;
        color:#ffffff;
        .ui-state-default.ui-multiselect-trigger {

            color:#ffffff;
            background:none;

            
        }
    }
    .ui-state-default.ui-multiselect-trigger {
        color:#3399ff;
        background:none;
        border:none; 
        right:0.25rem;
        .fa {
            margin-top:.4em;
        }
    }
    .ui-multiselect .ui-multiselect-label {
        padding:0;
    }
}


.input-group > .input-group-append:nth-last-child(2) > .btn {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}


@media print {
    form .form-control {
      border:none;
    }
    .noPrint {
        display: none;
    }
  }


  .ui-table-caption, .ui-table-summary {
      text-align: left;
  }

  .ui-state-highlight.fa {
    background: none;
    color:#ff3366;
}

.fa-plus-circle:hover {
    color: #3399ff;
}
.ui-state-highlight.fa-plus-circle:hover {
    color:#ff3366;
}

.ui-state-highlight.fa-plus-circle:before {
    content: "\f057";
}

form input.form-control:disabled::-moz-placeholder {
    color:transparent;
}
form input.form-control:disabled::placeholder {
    color: transparent;
}