<div class="container-fluid">
  <div class="row">
      <div id="loginbox" class="col-md-4 offset-md-4">
          <img width="265px" class="img-fluid mx-auto d-block mb-4" src="../../assets/Logo.png">
          <form id="loginform" class="text-center">
              <input type="text" placeholder="Epostadress" class="form-control mb-3">
              <input type="password" placeholder="Lösenord" class="form-control mb-3">
              <button type="button" class="btn btn-primary btn-wide" routerLink="/">Login</button>
            </form>
      </div>  
  </div>
  <button type="button" class="btn btn-secondary mt-4 mr-2 float-right">Registrera dig!</button>
</div>


