<div class="navbar navbar-light noPrint">
			<img  src="../../assets/Logo MIN.png" height="30px" class="d-inline-block align-top" alt="">

		<i class="fa fa-bars" (click)="sidenav.toggle()"></i>
		<div id="churchName">{{churchName}}</div>

		<button class="btn btn-outline-secondary" (click)="logout()">Logga ut</button>
</div>

<mat-sidenav-container>
	<mat-sidenav #sidenav mode="side" class="noPrint" [(opened)]="opened">
		<ul class="list-group mt-2 noPrint">
			<li routerLink="/persons" class="list-group-item sidenav-item" routerLinkActive="active">Personer</li>
			<li routerLink="/groups" href="/groups" class="list-group-item sidenav-item" routerLinkActive="active">Grupper</li>
			<li routerLink="/profile" class="list-group-item sidenav-item" routerLinkActive="active">Min profil</li>
		</ul>
	</mat-sidenav>

	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
  
<!-- Notification container ( controlled by messageService ) -->
