 mat-sidenav-container {
    background: none;
 }

 mat-sidenav {
    width: 200px;
    height:100%;
    position: fixed;
    top:67px;
    background:none;
  }
  
  mat-sidenav-content {
      padding:22px 40px 40px 40px;
      min-height: 500px;
  }

  .sidenav-item {
    transition: .3s;
    border:none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:40px;
    cursor:pointer;
}
.sidenav-item:focus {
    outline: none;
}

.sidenav-item:hover:not(.active) {
    background:#eeeeee;
}

.ui-state-default {
    border-color: #3399ff;   
}

.navbar {
    border-bottom: 1px solid #e0e0e0;
    padding:5px 40px;
}

#churchName {
    margin-left: auto;
    margin-right: auto;
}