
<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)="save(userForm.form)" #userForm="ngForm" novalidate>  
      <div class="form-group" [ngClass]="{'was-validated': (church.touched || church.dirty) && !church.valid}">
        <label for="church">Namn på församling'</label>
        <input type="text" class="form-control" id="church" placeholder="Församlings namn" name="church" #church="ngModel" required [ngModel]="user?.church">
        <div class="invalid-feedback">
          Skirv namn på församlingen
        </div>
      </div>
    <div class="form-row">
      <!-- First Name required -->
      <div class="form-group col-md-6" [ngClass]="{'was-validated': (firstname.touched || firstname.dirty) && !firstname.valid}">
        <label for="fistname">Förnamn*</label>
        <input type="text" class="form-control" id="firstname" placeholder="Förnamn" name="firstName" required minlenth="1" [ngModel]="user?.firstName" #firstname="ngModel">
        <div class="invalid-feedback">
            Förnamn krävs
        </div>
      </div>

      <!-- Last Name required -->
      <div class="form-group col-md-6" [ngClass]="{'was-validated': (lastname.touched || lastname.dirty) && !lastname.valid}">
        <label for="fistname">Efternamn*</label>
        <input type="text" class="form-control" id="lastname" placeholder="Efternamn" name="lastName" required minlength="1" [ngModel]="user?.lastName" #lastname="ngModel">
        <div class="invalid-feedback">
            Efternamn krävs
        </div>
      </div>
    </div>


    <div class="form-row">

      <!-- Emailadress -->
      <div class="form-group col-md-6" [ngClass]="{'was-validated': (email.touched || email.dirty) && !email.valid}">
        <label for="email">Epostadress*</label>
        <input type="email" class="form-control" id="email" [email]="true" placeholder="Epostadress" name="email" #email="ngModel" required [ngModel]="user?.email">
        <div class="invalid-feedback">
          Skriv in en korrekt epostadress
        </div>
      </div>

      <!-- Phonenumber -->
      <div class="form-group col-md-6" [ngClass]="{'was-validated': (phone.touched || phone.dirty) && !phone.valid}">
        <label for="phone">Telefonnummer*</label>
        <input type="text" class="form-control" id="phone" minlength="5" pattern="[+]?[0-9]*$" placeholder="Telefonnummer" name="phone" #phone="ngModel" required [ngModel]="user?.phone">
        <div class="invalid-feedback">
          Skriv in ett giltligt telefonnummer
        </div>
      </div>
    </div>

      <!-- Password -->
      <div class="form-group" [ngClass]="{'was-validated': (password.touched || password.dirty) && !password.valid}">
        <label for="password">Lösenord*</label>
        <input type="password" class="form-control" id="password" placeholder="Lösenord (min: 6)" name="password" #password="ngModel" minLength="6" [ngModel]>
        <div class="invalid-feedback">
          Skriv in ett lösenord med minst 6 tecken
        </div>
      </div>


    <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-primary mr-2">Registrera mig</button>
    </form>
  </div>
</div>