:host {
    width:250px;
    height:100%;
    position: fixed;
    top:60px;
}

.sidenav-item {
    transition: .3s;
    border:none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:60px;
    cursor:pointer;
}

.sidenav-item:hover:not(.active) {
    background:#eeeeee;
}

